<%# Upgrade to Blacklight 7.10 disrupts consistent behavior of advanced search facets
  dropdown select menus. This behavior is removed until a workaround can be found.%>

<div class="form-group advanced-search-facet row">
  <div class="col-md-8">
    <%= render_facet_partials facet_field_names_for_advanced_search %>
  </div>
</div>


