---
version: 2
jobs:
  build:
    working_directory: ~/pulmap
    docker:
      # The primary container is an instance of the first list image listed. Your build commands run in this container.
      - image: circleci/ruby:2.6-node-browsers
        environment:
          RAILS_ENV: test
          PULMAP_DB_HOST: localhost
          PULMAP_DB_USERNAME: geoblacklight
      - image: postgres:10.6-alpine
        environment:
          POSTGRES_USER: geoblacklight
          POSTGRES_DB: pulmap_test
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - checkout
      # Restore Cached Dependencies
      - type: cache-restore
        name: Restore bundle cache
        key: pulmap-{{ checksum "Gemfile.lock" }}
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      - run:
          name: Install node@lts/erbium (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV
      - run:
          name: Check current version of node
          command: node -v
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      # Cache Dependencies
      - type: cache-save
        name: Store bundle cache
        key: pulmap-{{ checksum "Gemfile.lock" }}
        paths:
          - vendor/bundle
      # Only necessary if app uses webpacker or yarn in some other way
      - restore_cache:
          keys:
            - pulmap-yarn-{{ checksum "yarn.lock" }}
            - pulmap-yarn-
      - run:
          name: Install NPM Dependencies via Yarn
          command: yarn install
      # Store yarn / webpacker cache
      - save_cache:
          key: pulmap-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      # Disable spring while precompiling webpacker
      - run: DISABLE_SPRING=1 NODE_ENV=test bundle exec rails webpacker:compile
      - persist_to_workspace:
          root: '~/pulmap'
          paths: '*'
  test:
    working_directory: ~/pulmap
    docker:
      - image: circleci/ruby:2.6-node-browsers
        environment:
          RAILS_ENV: test
          PULMAP_DB_HOST: localhost
          PULMAP_DB_USERNAME: geoblacklight
          SOLR_URL: http://solr:SolrRocks@localhost:8983/solr/pulmap-core-test
          CI: true
      - image: postgres:10.6-alpine
        environment:
          POSTGRES_USER: geoblacklight
          POSTGRES_DB: pulmap_test
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: pulibrary/pulmap-solr:8.4
        command:
          - "sh"
          - "-c"
          - /opt/solr/server/scripts/ci-start.sh
    steps: &test_steps
      - attach_workspace:
          at: '~/pulmap'
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      - run:
          name: Install node@8.17.0 (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV

      - run:
          name: Check current version of node
          command: node -v
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run:
          name: Load config into solr
          command: |
            cd solr/conf
            zip -1 -r solr_config.zip ./*
            curl -H "Content-type:application/octet-stream" --data-binary @solr_config.zip "http://solr:SolrRocks@127.0.0.1:8983/solr/admin/configs?action=UPLOAD&name=pulmap"
            curl -H 'Content-type: application/json' http://solr:SolrRocks@127.0.0.1:8983/api/collections/  -d '{create: {name: pulmap-core-test, config: pulmap, numShards: 1}}'
      - run: bundle exec rake db:migrate
      - run: bundle exec rake geoblacklight:solr:seed
      - run: bundle exec rspec spec/
      - run: mv badge.svg ./coverage/badge.svg
      - store_artifacts:
          path: coverage
          destination: coverage
  rubocop:
    working_directory: ~/pulmap
    docker:
      - image: circleci/ruby:2.6-node-browsers
        environment:
          RAILS_ENV: test
          PULMAP_DB_HOST: localhost
          PULMAP_DB_USERNAME: geoblacklight
    steps:
      - attach_workspace:
          at: '~/pulmap'
      - run:
          name: Install node@8.17.0 (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install lts/erbium' >> $BASH_ENV
            echo 'nvm alias default lts/erbium' >> $BASH_ENV

      - run:
          name: Check current version of node
          command: node -v
      # Install Bundler
      - run: gem install bundler -v '~> 2.0'
      # Bundle install dependencies
      - run: bundle install --path vendor/bundle
      - run: bundle exec rake rubocop
workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - rubocop:
          requires:
            - build
