<div class="home-secondary-navbar navbar">
  <div class="container" role="navigation">

  </div>
</div>

<div class="container-fluid">
  <div class="row">
  <%= content_tag :div, '', id: 'map-front', data: { map: 'home', 'catalog-path'=> catalog_index_path , 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
  </div>
</div>

<div class="search-bar-overlay mask"></div>

<div class="container">
  <div id="floating-search" class="search-bar-overlay col-md-12">
      <%= render :partial=>'catalog/search_form_home' %>
  </div>
</div>
