<div class="home-secondary-navbar navbar">
  <div class="container" role="navigation">
    <div class="col-md-6 logo">
    <%= link_to root_path, class: "logo__pul" do %>
      <%= image_tag 'lime.png', {:alt => 'GeoBlacklight', :style => 'height: 25px;', :class => 'pulmap-brand'} %>
      <% end %>
    </div>
    <div class="col-md-6 util-links">
      <%= render :partial=>'/user_util_links' -%>
    </div>
  </div>
</div>
<div class="header__secondary navbar">
  <nav class="container" role="navigation">
    <div id="search-navbar" class="col-xs-12 col-sm-12 col-md-6" role="search">
      <%= render_search_bar %>
    </div>
  </nav>
</div>