<div class="navbar-fixed-top">
  <header role="banner">
    <%= render :partial => 'shared/this_is_beta' %>
    <%= render :partial => 'shared/pul_branding' %>
    <%= render :partial => 'shared/project_header' unless home_layout? %>
  </header>
</div>
