
<div class="row">
  <div class="map-container">

    <%= content_tag :div, '', id: 'map-front', data: { map: 'home', 'catalog-path'=> search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
  <div class="mask">
    <div id="search-bar-container" class="container">
      <div id="floating-search" class="search-bar-overlay">
          <%= render :partial=>'catalog/search_form_home' %>
      </div>
    </div>
  </div>
</div>