<div class="header__secondary navbar">
	<nav class="container" role="navigation">
	  <div id="search-navbar" class="col-xs-12 col-sm-12 col-md-8" role="search">
	    <%= render_search_bar %>
	  </div>
	  <%= render :partial=>'/user_util_links' %>
      <button class="facets-toggler">More Filters</button>
	</nav>
</div>
<div class="container">
<%= render 'facets' %>
</div>
