
<div id="map-container-row" class="row">
  <div class=".search-container">
    <div id="search-bar-container">
      <div id="floating-search" class="search-bar-overlay">
          <%= render :partial=>'catalog/search_form_home' %>
      </div>
    </div>
</div>
