
<div class="header__secondary navbar">
  <nav class="container" role="navigation">
    <div id="search-navbar" class="col-xs-12 col-sm-12 col-md-6" role="search">
      <%= render_search_bar %>
    </div>
  </nav>
</div>