<a href="https://library.princeton.edu" title="Princeton University Library" class="pul-logo">
  <%= image_tag("pul-logo-new.svg", alt: "PUL Logo") %>
</a>
<%= link_to root_path, class: "site-title" do %>
  Digital Maps &amp;<br />Geospatial Data
<% end %>
