<div class="col-sm-12 start-over-row">
  <%=link_to start_over_path(current_search_session.try(:query_params) || {}), id: 'startOverLink', class: 'btn btn-primary button--start-over' do %>
    <span class="icon-refresh" aria-hidden="true"></span> <%= t('blacklight.search.start_over') %>
  <% end %>
</div>
