# Configurable Logo Used for CartoDB export
APPLICATION_LOGO_URL: 'http://geoblacklight.org/images/geoblacklight-logo.png'

BBOX_WITHIN_BOOST: '300'

# Carto OneClick Service https://cartodb.com/open-in-cartodb/
CARTO_ONECLICK_LINK: 'http://oneclick.cartodb.com/'

# Download path can be configured using this setting
DOWNLOAD_PATH: <%= ENV['PULMAP_DOWNLOAD_PATH'] || "./tmp/cache/downloads" %>

# DEPRECATED Main Solr geometry field used for spatial search and bounding box. Should be type 'rpt'
GEOMETRY_FIELD: 'solr_geom'

#Solr field mappings
FIELDS:
  :FILE_FORMAT: 'dc_format_s'
  :GEOMETRY: 'solr_geom'
  :WXS_IDENTIFIER: 'layer_id_s'
  :RIGHTS: 'dc_rights_s'
  :PROVENANCE: 'dct_provenance_s'
  :GEOM_TYPE: 'layer_geom_type_s'
  :SPATIAL_COVERAGE: 'dct_spatial_sm'
  :SUBJECT: 'dc_subject_sm'
  :REFERENCES: 'dct_references_s'
  :YEAR: 'solr_year_i'
  :CREATOR: 'dc_creator_sm'
  :DESCRIPTION: 'dc_description_s'
  :PUBLISHER: 'dc_publisher_s'
  :PART_OF: 'dct_isPartOf_sm'
  :TEMPORAL: 'dct_temporal_sm'
  :TITLE: 'dc_title_s'
  :SOURCE: 'dct_source_sm'
  :CALL_NUMBER: 'call_number_s'

GEOMONITOR_TOLERANCE: 0.8
INSTITUTION: 'Princeton'

PRINCETON_GEOSERVER_URL: <%= ENV['PRINCETON_GEOSERVER_URL'] || "https://geoserver.princeton.edu" %>
PROXY_GEOSERVER_URL: <%= ENV['PROXY_GEOSERVER_URL'] || "http://localhost:3000" %>
PROXY_GEOSERVER_AUTH: <%= ENV['PROXY_GEOSERVER_AUTH'] || "Basic base64encodedusername:password" %>

# Metadata shown in tool panel
METADATA_SHOWN:
  - 'fgdc'
  - 'iso19139'
  - 'mods'

# (For external Download) timeout and open_timeout parameters for Faraday
TIMEOUT_DOWNLOAD: 16

# (For WMS inspection) timeout and open_timeout parameters for Faraday
TIMEOUT_WMS: 4

# Web services shown in tool panel
WEBSERVICES_SHOWN:
  - 'wms'
  - 'wfs'
  - 'iiif'
  - 'feature_layer'
  - 'tiled_map_layer'
  - 'dynamic_map_layer'
  - 'image_map_layer'

# WMS Parameters
WMS_PARAMS:
  :SERVICE: 'WMS'
  :VERSION: '1.1.1'
  :REQUEST: 'GetFeatureInfo'
  :STYLES: ''
  :SRS: 'EPSG:4326'
  :EXCEPTIONS: 'application/json'
  :INFO_FORMAT: 'text/html'

# Settings for leaflet
OPACITY_CONTROL: &opacity_control
  CONTROLS:
    - 'Opacity'

LEAFLET:
  MAP:
  LAYERS:
    DETECT_RETINA: true
  VIEWERS:
    IIIF:
      CONTROLS:
        - 'Fullscreen'
    WMS:
      CONTROLS:
        - 'Opacity'
        - 'Fullscreen'
        - 'Layers'
    TILEDMAPLAYER:
      CONTROLS:
        - 'Opacity'
        - 'Fullscreen'
        - 'Layers'
    FEATURELAYER:
      CONTROLS:
        - 'Opacity'
        - 'Fullscreen'
        - 'Layers'
    DYNAMICMAPLAYER:
      CONTROLS:
        - 'Opacity'
        - 'Fullscreen'
        - 'Layers'
    IMAGEMAPLAYER:
      CONTROLS:
        - 'Opacity'
        - 'Fullscreen'
        - 'Layers'
