<% if query_has_constraints? %>
      <div id="appliedParams" class="clearfix constraints-container">
        <input id="map-toggle" type="checkbox" data-toggle="toggle" data-on="Map On" data-off="Map Off">
        <div class="button--start-over">
          <%=link_to t('blacklight.search.start_over'), start_over_path, :class => "catalog_startOverLink btn btn-default", :id=>"startOverLink" %>
        </div>
        <div class="params">
          <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
          <%= render_constraints(params) %>
        </div>
      </div>
<% end %>
