<% if query_has_constraints? %>
  <div class="clearfix facets-container">
    <%= render partial: 'facets' %>
  </div>
<% end %>

<% if query_has_constraints? && !hide_constraints? %>
    <div id="appliedParams" class="clearfix constraints-container">
      <fieldset>
        <legend><%= t('blacklight.search.filters.title') %></legend>
        <div class="params">
          <%= render_constraints(params) %>
        </div>
      </fieldset>
  </div>
<% end %>
