<div class="clearfix facets-container">
  <%= render partial: 'facets' %>
</div>

<% if pulmap_query_has_constraints? %>
    <div id="appliedParams" class="clearfix constraints-container">
      <div class="params">
        <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>
        <%= render_constraints(params) %>
      </div>
    </div>
<% end %>
