<%# Renders the secondary downloads displayed in the split dropdown %>
<% document ||= @document %>

<% if document.download_types.present? %>
  <div class="card exports">
    <div class="card-header panel-heading">
      <h2><%= t('geoblacklight.download.export_formats') %></h2>
    </div>

    <ul class="list-group list-group-flush">
      <%= render 'downloads_generated' %>
    </ul>
  </div>
<% end %>
