<% document ||= @document %>
<% if document_downloadable? %>
  <%= link_to 'Download',
              document_action_path(document_action_config, (local_assigns.has_key?(:url_opts) ? url_opts : {}).merge(({id: document} if document) || {})),
              id: document_action_config.fetch(:id, "#{document_action_config.key}Link"),
              class: 'nav-link' %>

<% elsif document.restricted? && document.same_institution? %>
  <div class='panel-body'>
    <%= link_to t('geoblacklight.tools.login_to_view'), user_cas_omniauth_authorize_path %>
  </div>
<% end %>
