<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets collapse">

  <div class="top-panel-heading panel-heading">
    <h2 class='facets-heading'>
      <%= t('blacklight.search.facets.title') %>
    </h2>
  </div>

  <div id="facet-panel-collapse" class="collapse panel-group row">
    <%= has_search_parameters? ? render_facet_partials : render_home_facets %>
  </div>
</div>
<% end %>
