<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">

  <div class="top-panel-heading panel-heading">
  </div>

  <div id="facet-view" class="facet-view">
      <div id="facet-panel-collapse" class="collapse panel-group">
      <%= render_facet_partials %>
    </div>
  </div>
</div>
<% end %>
