<div class="intro col-md-12">
    <section class="topics">
      <%= image_tag("magellan_small.png", id: 'magellan-logo', class: 'magellan-logo', alt: "Magellan Logo") %>
      <h1><small>Introducing a new research tool to </small><br/>
        Explore Maps and Geospatial Data</h1>
      <div class="grid-items">
        <a href="/?utf8=%E2%9C%93&search_field=all_fields&q=" class="grid-item">
          <span class="icon-locationmap"></span>
          <h1>Browse Everything</h1>
          <p>See all of our records and filter results by dragging, zooming, or jumping directly to locations on the map.</p>
        </a>
        <a href="/?f%5Blayer_geom_type_s%5D%5B%5D=Raster&q=&search_field=all_fields" class="grid-item">
          <span class="geoblacklight-icon geoblacklight-raster"></span>
          <h1>Raster Data</h1>
          <p>View heatmaps and other geospatial data visualizations directly on the map by selecting the Raster format.</p>
        </a>
        <a href="/?f%5Blayer_geom_type_s%5D%5B%5D=Polygon&q=&search_field=all_fields" class="grid-item">
          <span class="geoblacklight-icon geoblacklight-polygon"></span>
          <h1>Vector Data</h1>
          <p>View geographical boundaries by selecting Polygon, Line and Point formats.</p>
        </a>
          <a href="?f%5Blayer_geom_type_s%5D%5B%5D=Image&q=&search_field=all_fields" class="grid-item">
          <span class="geoblacklight-icon geoblacklight-image"></span>
          <h1>Historic Maps</h1>
          <p>View maps of from our Special Collections by selecting the Image format.</p>
        </a>
      </div>
    </section>
</div>
