<div class="row featured-cards">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a href="/?utf8=%E2%9C%93&search_field=all_fields&q=" class="grid-item">
          <span class="icon-locationmap"></span>
          <h1>Browse All</h1>
          <p>See all records and filter results by dragging, zooming, or searching for locations on the map.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=sanborn" class="grid-item">
          <span class="icon-building"></span>
          <h1>Sanborn</h1>
          <p>Detailed building maps of cities and towns created by The Sanborn Map Company.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=scanned_maps" class="grid-item">
          <span class="icon-map"></span>
          <h1>Scanned Maps</h1>
          <p>Scanned historic, geoscientific, topographic, and bathymetric maps and charts.</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=geospatial" class="grid-item">
          <%= geoblacklight_icon("Raster") %>
          <h1>Geospatial Data</h1>
          <p>Resources for use in GIS Software, including geographic features, aerial photographs, census data, land-use maps, and elevation.</p>
        </a>
      </div>
    </div>
  </div>
</div>
