<section class="topics">

    <div class="line-behind-text">
      <h6 class="er_toc_tag" id="er-toc-id-2">Featured Maps</h6>
    </div>

    <div class="cards">
      <div class="card">
        <a class="nostyle" href="/catalog/princeton-2v23vw81v">
          <div class="card-image">
            <img src="https://libimages.princeton.edu/loris/pulmap%2F2v%2F23%2Fvw%2F81%2Fv%2F00000001.jp2/8192,4096,4096,4096/256,/0/default.jpg" alt="">
          </div>
          <div class="card-header">
            Bay and Harbor of New York
          </div>
          <div class="card-copy">
            <p> U.S. Coast and Geodetic Survey, 1889.</p>
          </div>
        </a>
      </div>

      <div class="card">
        <a class="nostyle" href="/catalog/princeton-x920fz27x">
          <div class="card-image">
            <img src="https://libimages.princeton.edu/loris/pulmap%2Fx9%2F20%2Ffz%2F27%2Fx%2F00000001.jp2/3072,3072,1024,1024/256,/0/default.jpg" alt="">
          </div>
          <div class="card-header">
            Physical Geography
          </div>
          <div class="card-copy">
            <p>A. & C. Black, 1854.</p>
          </div>
        </a>
      </div>

      <div class="card">
        <a class="nostyle" href="/catalog/princeton-736666669">
          <div class="card-image">
            <img src="https://libimages.princeton.edu/loris/pulmap%2F73%2F66%2F66%2F66%2F9%2F00000001.jp2/1024,2048,1024,1024/256,/0/default.jpg" alt="">
          </div>
          <div class="card-header">
            Plano della città e porto dell' Havana
          </div>
          <div class="card-copy">
            <p>Livorno, M. Coltellini, 1777.</p>
          </div>
        </a>
      </div>
    </div>

</section>
