<div class="col-md-12">
  <section class="topics">
    <div class="line-behind-text">
      <h6 class="er_toc_tag" id="er-toc-id-2">Suggested Searches</h6>
    </div>
    <div class="grid-items">
      <a href="/?f%5Blayer_geom_type_s%5D%5B%5D=Scanned+Map&q=Sanborn" class="grid-item">
        <span class="icon-building"></span>
        <h1>Sanborn</h1>
        <p>Detailed fire insurance maps of cities and towns in New Jersey.</p>
      </a>
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Shapefile&q=parcels" class="grid-item">
        <span class="icon-locationmap"></span>
        <h1>Parcels</h1>
        <p>Property boundry data for identification of ownership, land use, and land value.</p>
      </a>
      <a href="/?f%5Bdc_subject_sm%5D%5B%5D=population" class="grid-item">
        <span class="icon-graphbar"></span>
        <h1>Census</h1>
        <p>Worldwide population and demographic data.</p>
      </a>
        <a href="/?f%5Bdct_spatial_sm%5D%5B%5D=Princeton&q=" class="grid-item">
        <span class="geoblacklight-icon geoblacklight-princeton"></span>
        <h1>Princeton</h1>
        <p>Data and maps related to Princeton University.</p>
      </a>
    </div>
  </section>
</div>
