<div class="col-md-12">
  <section class="topics">
    <div class="line-behind-text">
      <h6 class="er_toc_tag" id="er-toc-id-2">Featured Content</h6>
    </div>
    <div class="grid-items">
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Shapefile" class="grid-item">
        <span class="icon-locationpindirection"></span>
        <h1>Geographic Data</h1>
        <p>Base and thematic spatial data from around the world.</p>
      </a>
      <a href="/?f%5Blayer_geom_type_s%5D%5B%5D=Image&q=-Sanborn" class="grid-item">
        <span class="icon-map"></span>
        <h1>Scanned Maps</h1>
        <p>Images from Princeton's historic and geoscientific map collection.</p>
      </a>
      <a href="/?f%5Blayer_geom_type_s%5D%5B%5D=Image&q=Sanborn" class="grid-item">
        <span class="icon-building"></span>
        <h1>Sanborn</h1>
        <p>Detailed fire insurance maps of cities and towns in New Jersey.</p>
      </a>
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Shapefile&q=parcels" class="grid-item">
        <span class="icon-locationmap"></span>
        <h1>Parcels</h1>
        <p>Property boundry data for identification of ownership, land use, and land value.</p>
      </a>
      <a href="/?f%5Bdc_subject_sm%5D%5B%5D=population" class="grid-item">
        <span class="icon-graphbar"></span>
        <h1>Census</h1>
        <p>Worldwide population and demographic data.</p>
      </a>
        <a href="/?q=&sort=timestamp+desc" class="grid-item">
        <span class="geoblacklight-icon geoblacklight-mixed"></span>
        <h1>Recent Additions</h1>
        <p>Maps and data recently added.</p>
      </a>
    </div>
  </section>
</div>
