<div class="intro col-lg-12">
    <section class="topics">
      <div class="grid-items">
        <a href="/?utf8=%E2%9C%93&search_field=all_fields&q=" class="grid-item">
          <span class="icon-locationmap"></span>
          <h1>Browse All</h1>
          <p>See all records and filter results by dragging, zooming, or searching for locations on the map.</p>
        </a>
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=sanborn" class="grid-item">
          <span class="icon-building"></span>
          <h1>Sanborn</h1>
          <p>Detailed building maps of cities and towns created by The Sanborn Map Company.</p>
        </a>
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=scanned_maps" class="grid-item">
          <span class="icon-map"></span>
          <h1>Scanned Maps</h1>
          <p>Scanned historic, geoscientific, topographic, and bathymetric maps and charts.</p>
        </a>
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=raster" class="grid-item">
          <span class="geoblacklight-icon geoblacklight-raster"></span>
          <h1>Raster Data</h1>
          <p>Pixel-based data such as aerial photographs, satellite imagery, land-use maps, and elevation.</p>
        </a>
        <a href="/?utf8=✓&search_field=all_fields&q=&featured=vector" class="grid-item center-grid-item">
          <span class="geoblacklight-icon geoblacklight-polygon"></span>
          <h1>Vector Data</h1>
          <p>Data representing geographic features as points, lines, and polygons.</p>
        </a>
      </div>
    </section>
</div>
