<div class="mask"></div>
<div id="map-results" class="hero--container" style="width: 100%; position: relative;" data-map="home" data-catalog-path="/catalog" data-basemap="esri">
  <div class="hero--content">
    <div class="project--name">
      <h1 class="logo__app">Newlogo</h1>
    </div>
    <div class="project--description">
      <p>Lorem ipsum dolor sit amet, consectetur elit, sed magna aliqua. Ut enim ad minim veniam, quis laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="search">
      <%= render 'search_form' %>
    </div>
  </div>
</div>
