<section class="topics">
  <div class="container">
    <div class="grid-items">
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Shapefile" class="grid-item">
        <span class="icon-locationpindirection"></span>
        <h1>Geographic Data</h1>
        <p>Base and thematic spatial data from around the world.</p>
      </a>
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Scanned+Map&q=-Sanborn" class="grid-item">
        <span class="icon-map"></span>
        <h1>Scanned Maps</h1>
        <p>Images from Princeton's historic and geoscientific map collection.</p>
      </a>
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Scanned+Map&q=Sanborn" class="grid-item">
        <span class="icon-building"></span>
        <h1>Sanborn</h1>
        <p>Detailed fire insurance maps of cities and towns in New Jersey.</p>
      </a>
      <a href="/?f%5Bdc_format_s%5D%5B%5D=Shapefile&q=parcels" class="grid-item">
        <span class="icon-locationmap"></span>
        <h1>Parcels</h1>
        <p>Property boundry data for identification of ownership, land use, and land value.</p>
      </a>
      <a href="/?f%5Bdc_subject_sm%5D%5B%5D=population" class="grid-item">
        <span class="icon-graphbar"></span>
        <h1>Census</h1>
        <p>Worldwide population and demographic data.</p>
      </a>
        <a href="/?f%5Bdct_spatial_sm%5D%5B%5D=Princeton&q=" class="grid-item">
        <span class="geoblacklight-icon geoblacklight-princeton"></span>
        <h1>Princeton</h1>
        <p>Data and maps related to Princeton University.</p>
      </a>
    </div>
  </div>
</section>
