<%#= content_tag :div, '', id: 'map-results', style: 'width: 100%', data: { map: 'home', 'catalog-path'=> search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
<div class="hero--container">
  <div class="hero--content">
    <div class="project--name">
      <h1 class="logo__app">Azimuth</h1>
    </div>
    <div class="project--description">
      <p>Lorem ipsum dolor sit amet, consectetur elit, sed magna aliqua. Ut enim ad minim veniam, quis laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="search">
    <%= render 'search_form' %>
    </div>
  </div>
</div>
