<ul class="bullets">
  <li class="bullet" onclick="location.href='catalog/?f%5Bdc_format_s%5D%5B%5D=Shapefile';" >
    <div class="bullet-icon bullet-icon-1">
<!--       <i class="geoblacklight-icon geoblacklight-point" style="font-size: 24.5px; color: white;"></i> -->
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Geographic Data</h2>
      <p>Base and thematic spatial data from around the world. Topics in human geography (political boundaries, transportation, population) as well as and physical geography (geologic, elevation).</p>
      </div>
  </li>
  <li class="bullet" onclick="location.href='catalog?f%5Bdc_format_s%5D%5B%5D=Scanned+Map&q=-Sanborn';">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Scanned Maps</h2>
      <p>Images from Princeton's map collection. Includes historic, geoscience, topographic, and bathymetric maps and charts as well as maps in political, physical, and cultural geography.</p>
    </div>
  </li>
  <li class="bullet" onclick="location.href='catalog/?f%5Bdc_format_s%5D%5B%5D=Scanned+Map&q=Sanborn';">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Sanborn</h2>
      <p>Detailed building maps of cities and towns in New Jersey. Created by The Sanborn Map Company, the oldest mapping company in the United States, primarily for use by insurance companies.</p>
    </div>
  </li>
</ul>
