<div id="map-container">
  <%= content_tag :div, '', id: 'map-results', data: { map: 'index', 'catalog-path'=> search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
</div>
