<%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline home-search navbar-form' do %>
  <%= render_hash_as_hidden_fields(search_state.params_for_search().except(:q, :search_field, :qt, :page, :utf8, :model, :rpp, :start)) %>
  <%= hidden_field_tag(:search_field, 'all_fields') %>

  <div class="input-group">
    <label for="q" class="d-none">search for</label>
    <span class="input-group-append">
      <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.search_field.label'), :class => "search_q q form-control", :id => "q", :autocomplete => "off", autocorrect: "off", autocapitalize: "off",spellcheck: "false", :autofocus => search_bar_presenter.autofocus?, data: { autocomplete_enabled: search_bar_presenter.autocomplete_enabled?, autocomplete_path:  search_action_path(action: :suggest) }  %>
      <button type="submit" class="btn btn-primary" id="search" aria-label="search">
        <span class="submit-search-text d-none">Search</span>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span>
  </div>
<% end %>
