<%-
  # Renders the link to the legend for the scanned Sanborn maps
  # @see http://library.princeton.edu/libraries/firestone/rbsc/aids/sanborn/key.jpg

-%>
<div class="card show-sanborn-legend">
  <div class="collapse-toggle card-header collapsed" data-toggle="collapse" data-target="#sanborn-legend-card-body" aria-expanded="false">
    <h2 class="card-title text-center">Legend</h2>
  </div>

  <div id="sanborn-legend-card-body" class="card-body collapse">
    <%= image_tag("sanborn_legend.jpg", id: 'sanborn-legend', class: 'sanborn-legend', size: "571x934", alt: "Legend for Sanborn Maps") %>
  </div>
</div>
