<%-
  # Renders source attribution information panel for an item.
-%>
<div class="panel panel-default">
    <div class="panel-heading">Source</div>
    <div class="panel-body">
      <%= source_panel_markup %>
    </div>
</div>
