<%-
  # Renders source attribution information card for an item.
-%>
<div class="card">
    <div class="card-header">Source</div>
    <div class="card-body">
      <%= source_card_markup %>
    </div>
</div>
