<div class="introduction col-md-12">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a class="btn btn-primary" href="/?search_field=all_fields&q=" role="button">Browse</a>
        <a class="btn btn-primary" href="/" role="button">Learn More</a>
    </div>
  </div>
</div>
