<% unless has_search_parameters? %>
  <%#= render 'home' %>
<% else %>
  <%= render 'search_header' %>

  <div id="side-content" class="sidebar" data-spy="affix">
    <%= render 'search_sidebar' %>
  </div>

  <div id="content" class="content">
    <div class="map-container" data-spy="affix">
      <%= content_tag :div, '', id: 'map-results', style: 'width: 100%', data: { map: 'index', 'catalog-path'=> search_catalog_path, 'map-bbox' => params[:bbox], basemap: geoblacklight_basemap } %>
    </div>
    <%= render 'search_results' %>
  </div>
<% end %>
