<%= render 'search_header' %>

<div id="content" class="content">
  <div id="inner">
    <%= render 'search_results' %>
  </div>
</div>

<div id="side-content" class="sidebar">
  <%= render 'search_sidebar' %>
</div>
