<%= render 'search_header' %>

<% if has_search_parameters? %>
  <div id="side-content" class="sidebar">
    <%= render 'search_sidebar' %>
  </div>
  <div id="content" class="content">
    <%= render 'search_results' %>
  </div>
<% else %>
  <%= render 'featured_content' %>
<% end %>
