[data-map="home"] {
  height: 400px;
}

main.home {
    padding-top: 0;
}

.find-by {
    .category-icon {
        font-size: 6em;
        line-height: 1em;
        text-align: center;
    }
    h4 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
}
