$basemap-color: #ccdddd;

/* $basemap-color: #cdd2d4; */

.leaflet-container {
    background-color: $basemap-color;
}

.leaflet-container[data-protocol="iiif"] {
    background-color: white;
    .leaflet-control-attribution {
        display: none;
    }
}

#main-container {
    position: relative;
}

#map-container {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background: red;
}

#map-results {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
