//breakpoints
$bp-large: 1200px;
$bp-medium: 992px;
$bp-small: 768px;

//colors
$white: #ffffff;
$black: #000000;
$dark-gray: #494f57;
$gray: #e8e6df;
$light-gray: #f5f4f1;
$dark-orange: #89440a;
$orange: #e87511;
$blue: #337ab7;
$brand-danger: #a94442;

//typography
$font-serif: 'Droid Serif', Georgia, Times, serif !default;
$font-sans: 'DejaVu Sans', 'Arial Unicode MS', Helvetica, sans-serif !default;
$font-mono: 'Lucida Console', Monaco, monospace !default;
$text-color: #000 !default;
$placeholder-text-color: rgb(204, 204, 204);
