@import "variables";

@font-face {
    font-family: 'pulmap';
    src:    font-url('icons/pulmap.eot?8moebi');
    src:    font-url('icons/pulmap.eot?8moebi#iefix') format('embedded-opentype'),
        font-url('icons/pulmap.ttf?8moebi') format('truetype'),
        font-url('icons/pulmap.woff?8moebi') format('woff'),
        font-url('icons/pulmap.svg?8moebi#pulmap') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pulmap' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.geoblacklight-stanford {
  color: $gray-light;
}

.geoblacklight-icon.geoblacklight-restricted {
    color: $orange !important;
}

.icon-graphbar {
    &:before {
        content: $icon-graphbar;
    }
}

.icon-locationmap {
    &:before {
        content: $icon-locationmap;
    }
}
.icon-locationpindirection {
    &:before {
        content: "\e907";
    }
}
.icon-map {
    &:before {
        content: $icon-map;
    }
}
.icon-building {
    &:before {
        content: $icon-building;
    }
}
.icon-refresh {
    &:before {
        content: $icon-refresh;
    }
}
.icon-moveback {
    &:before {
        content: $icon-moveback;
    }
}
