.data-download {
  text-align: center;

  h2 {
    font-size: 1.2em;
    display: inline-block;
  }

  .downloads {
    .panel-heading {
      border-bottom-color: #ddd;
    }
  }

  .exports {
    .panel-heading {
      border-bottom-color: #ddd;
    }

    .export {
      padding-left: 1.1em;
      padding-right: 1.1em;

      &-link-container {
        display: block;
        float: none;
      }
    }
  }
}
