.toggle, .toggle-collapsed {
    line-height: 1.4em;
}

.panel.facet_limit {
    display: inline-block;
    float: left;

    width: 25%;
}

.panel.facet_limit:nth-child(4n+1) {
    display: table;
    clear: both;

    content: "";
}

.dropdown.facet_limit {
    display: inline-block;
}

.open > .dropdown-menu {
    min-width: 220px;
}

.subject-facet {
    display: inline-block;
}

.navbar-right .nav {
    float: right;
}