@import "utils/variables";

.facet {
  display: inline-block;
}

.facet .btn {
  font-size: small;
  text-align: left;
}

.facet > .btn-default > small {
  color: $dark-gray;
  display: block;
}

.facet > .btn-default a:hover {
  text-decoration: none;
}

.facet > .btn-default a {
  color: $dark-gray;
}

.start-over-row {
  padding-top: 1em;
  padding-bottom: 1em;
}

.facet_limit-active,
.facet_limit-active > .panel-heading {
    color: #333;
    border-color: #ddd;
}

.facet-values li .selected {
    color: #333;
}

.facet_limit-active > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.facet-values .remove {
    text-indent: 0;
    margin-left: 1em;
    vertical-align: middle;
}

.facet-values .remove .glyphicon-remove {
    top: -1px;
    font-size: 1.2em;
}

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count {
    text-indent: 0;
    line-height: 1.8em;
    padding: 0;
}

.facet-values .icon {
    font-size: 1.275em;
    line-height: 1.4em;
}

.icon + .facet-label {
    padding-left: .5em;
}

.facet-values .icon,
.facet-values .facet-label,
.facet-values .facet-count,
.facet-label .selected,
.facet-values .remove .glyphicon-remove {
    vertical-align: middle;
}

.facet-values .facet-label,
.facet-values .facet-count {
    font-size: .9em;
    -moz-hyphens: none;
}

.facets-heading {
    margin-top: 0;
    font-size: 18px;
}

.pivot-facet .facet-label {
    display: inline;
    padding-left: 0;
    word-break: none;
}

.document .icon,
.facet-values .icon {
    width: 22px;
    height: 22px;
    display: table-cell;
    background-position: center;
    background-size: contain;
    padding-right: .5em;
}

ul.facet-values {
    border-spacing: 0 .3em;
    margin-bottom: 0;

    .facet-values,
    > ul {
        border-spacing: 0;
    }
}

.pivot-facet .pivot-facet {
    width: 100%;
    padding: 0 0 0 3.5em;

    &.collapse.in,
    &.collapsing {
        display: table;
    }

}

.toggle, .toggle-collapsed {
    line-height: 1.4em;
}

@media max-width bp-small {
    #facets .top-panel-heading {
        padding-left: 1em;
        padding-top: .5em;
    }
    h2.facets-heading {
        font-size: 1.6em;
        margin-bottom: 0;
        margin-top: .2em;
    }
    .facets-toggle {
        margin: 0;
    }
}

@media (max-width: $bp-small){
    .facets-toggle {
        margin: 0;
    }
    .facets-heading {
        padding:0.5em;
        margin-bottom: 0;
    }
}

.top-panel-heading.panel-heading {
    padding-left: 0;
    padding-top: 0;
    margin-top: 8px;
}

.panel-group .panel {
    border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.panel-default > .panel-heading {
    background: $light-gray;
}

.panel-title > a {
    font-size: 0.9em;
}

.range_limit input.range_begin, .range_limit input.range_end {
    display: inline-block;
    width: 4.5em;
}

#facet-panel-collapse {
    padding: 0;
}

#sidebar {
    padding-left: 0;
}

.facet-values .icon,
.facet-values .geoblacklight-icon,
.facet-values .facet-label,
.facet-values .facet-count {
    text-indent: 0;
    line-height: 1.8em;
    padding: 0;
}

.facet-values .icon,
.facet-values .geoblacklight-icon {
    font-size: 1.275em;
    line-height: 1.4em;
}

li.active > a > .geoblacklight-icon {
  color: $white;
}

.icon + .facet-label,
.geoblacklight-icon + .facet-label {
    padding-left: .5em;
}

.facet-values .icon,
.facet-values .geoblacklight-icon,
.facet-values .facet-label,
.facet-values .facet-count,
.facet-label .selected,
.facet-values .remove .glyphicon-remove {
    vertical-align: middle;
}

.facet-values .facet-label,
.facet-values .facet-count {
    font-size: .9em;
    -moz-hyphens: none;
}

.facets-heading {
    margin-top: 0;
    font-size: 18px;
}

.pivot-facet .facet-label {
    display: inline;
    padding-left: 0;
    word-break: none;
}

.document .icon,
.facet-values .icon,
.facet-values .geoblacklight-icon, {
    width: 22px;
    height: 22px;
    display: table-cell;
    background-position: center;
    background-size: contain;
    padding-right: .5em;
}

ul.facet-values {
    border-spacing: 0 .3em;
    margin-bottom: 0;

    .facet-values,
    > ul {
        border-spacing: 0;
    }
}

.pivot-facet .pivot-facet {
    width: 100%;
    padding: 0 0 0 3.5em;

    &.collapse.in,
    &.collapsing {
        display: table;
    }

}

.toggle, .toggle-collapsed {
    line-height: 1.4em;
}

#facet-view {
  display: inline-block;
  .btn {
    min-height: 40px;
  }
  .button--start-over,.button--edit-search {
    line-height: 23px !important;
    a {
      min-height: 40px;
      line-height: 33px !important;
    }
  }
  ul.dropdown-menu {
    z-index: 999;
  }
}

.facets-container {
  line-height: 4;
  margin-top: 1em;
  margin-bottom: 1em;
  background: none;
}

.list-unstyled {
  padding-right: 10px;
  padding-left: 10px;
}

.limit_content.range_limit {
  padding: 0 0 10px 15px;
  width: 240px;

  form {
    margin-top: 8px;
  }

  input[value=Limit] {
    height: 34px;
    margin-left: 10px;
    min-height: 0 !important;
  }
}

