.featured-cards {
  .card {
    transition: all 0.2s ease-in-out;
    border: 0px solid transparentize(#333, 0.8);
    outline: none;

    &:focus,
    &:hover {
      background: transparentize(#333, 0.95);
    }
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: #494f57;
    font-size: 1.3em;
    margin-top: 0.625em;
    margin-bottom: 0.4em;
    text-align: center;
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    margin: auto;
    text-align: center;
  }

  span {
    display: block;
    margin-bottom: 1em;
    margin: auto;
    font-size: 48px;
    color: #777777;
    text-align: center;
    height: inherit;
    width: inherit;
    &.blacklight-icons {
      height: 48px;
    }
    svg {
      height: 44px;
      width: 44px;
      margin-bottom: 44px;
    }
  }
}
