.featured-cards {
  .featured-card {
    &:focus, &:hover {
      background: transparentize(#333, 0.95);
    }
  }

  .card {
    flex-direction: row;
    transition: all 0.2s ease-in-out;
    border: 0px;
    outline: none;
    background: transparent;
  }

  a {
    text-decoration: none;
  }

  h1 {
    color: #494f57;
    font-size: 1.6em;
    margin-top: 0.625em;
    margin-bottom: 0.4em;
  }

  p {
    color: rgba(0, 0, 0, 0.6);
    margin: auto;
    font-size: 1.2em;
  }

  .card-img-top {
    width: 25%;
    align-self: center;
  }

  span {
    display: block;
    margin-bottom: 1em;
    margin: auto;
    font-size: 60px;
    color: #777777;
    text-align: center;
    height: inherit;
    width: inherit;
    &.blacklight-icons {
      height: 48px;
    }
    svg {
      height: 60px;
      width: 60px;
      margin-bottom: 44px;
    }
  }
}
