main {
    background: $white;
}

.l-region--footer {
    height: 47px;
    position: relative;
}

.footer--copyright {
    display: inline-block;
    float: right;
    margin: 0;
    font-size: 0.8em;
    @include vertical-align();
}
.pu {
    display: inline-block;
    float: left;
    @include vertical-align();
}

.l-footer {
    padding: 1em 0;

    background-color: $light-gray;
}

.svg .pu-logo:before {
    display: inline-block;
    vertical-align: middle;

    height: 100%;

    content: ' ';
}

.svg .pu-logo {
    display: inline-block;

    height: 24px;

    background-size: contain;

    line-height: 11px;
}

.svg .pu-logo img {
    display: none;
}

.svg .pu-logo {
    height: 40px;
    width: 142px;
    margin: 0.5em 0 0;

    background-image: image-url("pu.svg");
}
