// sticky footer

* {
  margin: 0;
}

html,
body {
  height: 100%;

  .blacklight-catalog-index {
    background-color: $white;
  }
  .blacklight-catalog-show {
    background-color: $light-gray;
  }
}

.wrapper {
  background: $white;
  margin-bottom: -75px; //equal to footer height
  min-height: 100%;
}

.wrapper:after {
  content: "";
  display: block;
}

footer,
.wrapper:after {
  height: 75px;
}

footer {
  background: $light-gray;
}

// footer components

.l-region--footer {
  height: 47px;
  position: relative;
}

.footer--copyright {
  display: inline-block;
  width: 50%;
  float: right;
  margin: 0;
  font-size: 0.8em;

  @include vertical-align;

  @media (min-width: 625px) {
    width: 75%;
    text-align: right;
  }
}

.pu {
  display: inline-block;
  float: left;

  @include vertical-align;
}

.l-footer {
  padding: 1em 0;
  background-color: $light-gray;
}

.svg .pu-logo:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  content: ' ';
}

.svg .pu-logo {
  display: inline-block;
  height: 24px;
  background-size: contain;
  line-height: 11px;
}

.svg .pu-logo img {
  display: none;
}

.svg .pu-logo {
  height: 40px;
  width: 142px;
  margin: 0;
  background-image: image-url("pu.svg");
}
