@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;

  $large-screen: (
    media: em(860),
  );

  $medium-screen: (
    media: em(640),
  );

  p {
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }

  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-icon-color: #777777;
  $grid-item-height: 16em;

  border-top: $grid-item-border;
  border-left: $grid-item-border;
  margin-top: 50px;

  @include clearfix;
  position: static;

  .grid-item {
    transition: all 0.2s ease-in-out;
    background: $grid-item-background;
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    width: 100%;

    @include grid-media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
  }

  .grid-item span {
      display: block;
      margin-bottom: 1em;
      margin: auto;
      font-size: 48px;
      color: $grid-item-icon-color;
      text-align: center;

      &.geoblacklight-icon {
          font-size: 44px;
      }

      &.geoblacklight-icon + h1 {
          margin-top: 7px;
      }
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
      text-align: center;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      margin: auto;
      text-align: center;
      @include grid-media($medium-screen) {
        max-width: 100%;
      }
    }

  .grid-item-big {
    @include grid-media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include grid-media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}
