[data-map="home"] {
  height: 400px;
}

main.home {
  padding-top: 0;
}

.find-by {
  .category-icon {
    font-size: 6em;
    text-align: center;
    line-height: 1em;
  }

  h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}

.mask {
  background: $white;
  height: 40px;
  width: 100%;

  @media (min-width: $bp-small) {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    height: 80px;
  }
}

#search-bar-container {
  @media (min-width: $bp-small) {
    padding-right: 0px;
  }
  padding-right: 30px;
}

.home-search {
  .btn-toggle .btn {
      height: 46px;
  }
  .search_q.form-control,
  .search_loc,
  .search-btn {
    height: 46px;
    width: 100%;
    padding-left: 12px;
  }

  .toggle.btn {
    width: 100% !important;
  }

  .col-md-1 {
    width: 76px;
  }

  .search-btn {
    width: 46px;
  }

  .btn-advanced-search {
    height: 46px;
  }

  .find-loc {
    display: none;
    padding: 0 15px;
    width: 100%;
    margin: 1em 0;
    z-index: 10;

    @media (min-width: 625px) {
      display: none;
      width: 50%;
      float: left;
    }

    .leaflet-pelias-control {
      width: 100%;
      background-color: $input-bg;
      background-image: none;
      border: 1px solid $input-border;
      border-radius: $input-border-radius;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
      @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
    }

    @media (min-width: $bp-small) {
      display: block;
      width: 31%;
      padding: 0;
      margin: 0 0 0 15px;
    }
  }

  .search-main {
    padding: 0 15px;
    width: 100%;
    margin: 1em 0;
    z-index: 10;

    @media (min-width: 625px) {
      width: 100%;
      float: left;
      margin: 1em 0;
    }

    @media (min-width: $bp-small) {
      width: 67%;
      margin: 0;
    }

    .input-group-btn {
      width: 46px;
    }
  }

  .btn-toggle {
    display: none;
    width: 15%;

    .btn{
      padding-top: 12px;
    }

    .btn-primary {
      border: $dark-gray;
    }

    @media (min-width: $bp-small) {
      display: inline-block;
    }
  }
}

.search-bar-overlay {
  height: 134px;

  .home-search {
    height: 134px;
  }

  @media (min-width: 625px) {
    height: 46px;

    .home-search {
      height: 46px;
    }
  }

  @media (min-width: $bp-small) {
    height: 80px;

    .home-search {
      height: 80px;

      > div {
        @include vertical-align;
      }
    }
  }
}

.map-container {
  width: 100%;
  position: relative;
  background: black;

  .leaflet-container {
    opacity: 1;
  }
}

#map-front {
  display: none;

  @media (min-width: $bp-small) {
    display: block;
  }
}

section.topics {
  padding-bottom: 14px;
  margin-bottom: 28px;
}

.line-behind-text {
  border-bottom: 1px solid #cacaca;
  margin-bottom: 4.5em;
  text-align: center;
}

.line-behind-text h6 {
  background: #fff;
  color: #808080;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  top: 34px;
  margin-bottom: 1.8em;
}
