.show-document, .tools-sidebar {
  padding-top: 1em;
}

h2 {
  font-size: 22px;
}

#table-container {
  overflow: scroll;
  height: 440px;

  table {
    table-layout: fixed;

    td {
      word-wrap: break-word;
    }
  }
}

.geoblacklight-view-panel {
  margin-top: 1em;
}

.button--start-over a,
.pagination-search-widgets a.btn-default {
  padding: 6px 12px;
  margin: 3px;
  background: $light-gray;
  border: 1px solid $gray;
  color: #000000;
}

.show-document > .document > div {
  h2 {
    margin-top: 0px;
  }
}
