.show-document {
  padding-top: 16px;
  margin-bottom: 18px;
}

.show-document, .tools-sidebar {
  h2 {
    font-size: 1.2em;
    display: inline-block;
  }

  .show-sanborn-legend {
    margin-top: 16px;

    .card-header {
      background-color: #565656;
      border-bottom-color: #000;
      height: 36px;

      padding-top: 6px;
      padding-bottom: 4px;

      .card-title {
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        font-family: sans-serif;
      }
    }

    // Styling the toggle caret on legend card
    .card-header.collapse-toggle::after {
      color: $gray-light;
      font-size: 12px;
    }

    .card-body {
      background-color: #000;
    }

    .sanborn-legend {
      height: auto;
      max-width: 100%;
    }
  }
}

h1 {
  font-size: 36px;
}

#content {
  padding-top: 3rem;
}

h2 {
  font-size: 22px;
}

#table-container {
  overflow: scroll;

  table {
    table-layout: fixed;

    td {
      word-wrap: break-word;
    }
  }
}

.geoblacklight-view-card {
  margin-top: 1em;
}

.button--back-to-search a,
.pagination-search-widgets a.btn-default {
  padding: 6px 12px;
  margin: 3px;
  background: $light-gray;
  border: 1px solid $gray;
  color: #000000;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: none;
  }

}

.show-document > .document > div {
  h2 {
    margin-top: 0px;
  }
}

// Remove the horizontal rule above the Universal Viewer
#viewer-container > hr.clear {
  display: none;
}

// Set item viewer map height
#document #viewer-container [data-map="item"] {
  height: 440px;
}
