.bulleted {
    margin-left: 1.5em;

    list-style-type: disc;
}

.example {
    margin-bottom: 0;
}

.example li {
    display: inline;

    margin-right: 2em;

    font-family: arial, sans-serif;
    font-weight: bold;
}

.example dt {
    display: inline;
    float: left;

    margin-right: 2em;

    font-family: arial, sans-serif;
    font-weight: normal;
}

.list--search-tips > li {
    border: 1px solid #ddd;
    // padding: 1em;
    border-bottom: 0;

    list-style-type: none;

    &:last-child {
        padding: 1em;
        border-bottom: 1px solid #ddd;
    }

    > dl {
        margin: 0;

        .tip-heading {
            margin: 0;

            font-size: 15px;
        }

        > dd {
            padding: 1em;
        }

        dl {
            margin-top: 1em;
        }
    }

    dt.tip-heading {
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;

        background: $light-gray;
    }
}