$basemap-color: #ccdddd;

.leaflet-container {
  background-color: $basemap-color;
}

.leaflet-container[data-protocol="iiif"] {
  background-color: white;

  .leaflet-control-attribution {
    display: none;
  }
}

.leaflet-control-attribution.leaflet-control {
  // opacity: 0.2;
  display: none;
}

.leaflet-left {
  margin-left: 10px;
}

#map-container {
  background: #CCDDDD;
  margin-bottom: 1em;

  @media (max-width: $bp-small) {
    visibility: hidden;

    #map-results {
        display: none;
    }
  }

  @media (min-width: $bp-small) {
    max-width: 340px;
    width: 340px;
    height: 480px;
  }

  @media (min-width: $bp-medium) {
    max-width: 440px;
    width: 440px;
  }

  @media (min-width: $bp-large) {
    max-width: 540px;
    width: 540px;
  }
}

#content {
  min-height: 550px;
}

.sidebar,
.content {
  float: left;
  position: relative;
  min-height: 1px;

  &.map-view {
    width: 100%;
    @media (min-width: $bp-small) {
      width: 50%;
    }
  }
}

.sidebar {
  width: 100%;


  @media (min-width: $bp-small) {
    width: 33%;
    padding-right: 15px;
    padding-left: 0;
  }
}

.content {
  width: 100%;


  @media (min-width: $bp-small) {
    width: 66%;
    padding-left: 15px;
    padding-right: 0;
  }
}

// expand viewer container when there is no table container
#viewer-container:only-child {
   width: 100% !important;
}
