$basemap-color: #ccdddd;
.leaflet-container {
    background-color: $basemap-color;
}

.leaflet-container[data-protocol="iiif"] {
    background-color: white;
    .leaflet-control-attribution {
        display: none;
    }
}

.leaflet-control-attribution.leaflet-control {
    // opacity: 0.2;
    display: none;
}

.leaflet-left {
    margin-left: 10px;
}

#map-container {
    background: #CCDDDD;
    max-width: 570px;
    margin-bottom: 1em;
}

#content {
    min-height: 500px;
}
