$basemap-color: #b8e6fe;

#map-front, #map-results {
  background-color: $basemap-color;
}

.leaflet-container[data-protocol="iiif"] {
  background-color: white;

  .leaflet-control-attribution {
    display: none;
  }
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-left {
  margin-left: 10px;
}

#map-container-row {
  margin-left: 0px;
  margin-right: 0px;
}

#map-container {
  position: fixed;
  top: 70px;
  height: 100%;
  padding-left: 0;
  z-index: 1;
  border-left: 1px solid lightgrey;
}

// expand viewer container when there is no table container
#viewer-container:only-child {
   width: 100% !important;
}

#map-results .btn-primary {
  min-height: 44px;
  line-height: 2.2;
}

.search-control {
  margin-right: 25px !important;
}

.leaflet-container {
  background: white;
}

// Layer control style
.leaflet-control-layers-toggle {
  background-image: image-url('layers.png');
  width: 30px;
  height: 30px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: image-url('layers-2x.png');
  background-size: 17px 17px;
}

.leaflet-control-layers-toggle {
  background-size: 17px 17px;
}
