.constraints-container {
    padding-left: 0;
    padding-right: 0;
    border: none;

    background: none;
    box-shadow: none;
}

#documents {
    margin-bottom: 2em;

    > .document:last-child {
        border: none;
    }
    .document {
        margin: 0;
        padding: 0;
    }
}

.documentHeader.row {
    padding: 1em 0em 1em 0em;
    &:hover {
        background: $light-gray;
    }
}

#map-container {
  position: fixed;
  top: 175px;
  z-index: 1;
}

// #map-container + #content {
//     float: right;
// }

#content {
  position: relative;
  top: 175px;
  height: 100%;
  padding-right: 25px;
}

#inner {
    height: 100%;
}

.params {
    display: block;
}

.index_title {
  white-space: normal;
  float: none;
  width: 100%;
}

.document-wrapper {
  width: calc(100% - 95px);
  display: inline-block;
}
