[data-map="index"] {
  height: 100%;
}

.constraints-container {
    padding-left: 0;
    padding-right: 0;
    border: none;
    line-height: 4;

    background: none;
    box-shadow: none;
}

#documents {
    margin-bottom: 2em;

    > .document:last-child {
        border: none;
    }
    .document {
        margin: 0;
        padding: 0;
    }
}

.documentHeader.row {
    padding: 1em 0em 1em 0em;
    padding-bottom: 5px;
    padding-top: 5px;

    &:hover {
        background: $light-gray;
    }
}

#map-container {
  position: fixed;
  top: 93px;
  z-index: 1;
}

#content {
  position: relative;
  top: 93px;
  height: 100%;
  padding-right: 25px;
}

#inner {
    height: 100%;
    padding-top: 10px;
}

.params {
    display: inline-block;
}

.index_title {
  white-space: normal;
  float: none;
  width: 100%;
}

.document-wrapper {
  width: calc(100% - 95px);
  display: inline-block;
}

.map-container {
  margin-top: 16px;
  padding-top: 0;
}

.affix {
  top: 0;
  z-index: 2 !important;
  position: sticky;
}
