.tools-sidebar {
  .card-header h2 {
    font-size: 14px;
  }

  .list-group {
    .list-group-item:not(.export) {
      padding: 0 20px;
      > a {
        display: block;
        &:hover, &:focus {
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
    }
    .list-group-item.downloads {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    .list-group-item.bookmark {
      padding-left: 29px;
    }
    &.list-group-flush {
      padding: 10px 4px;
    }
  }

  .show-tools .list-group .list-group-item a {
    padding: 10px;
  }

  .show-tools {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .source-card {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .relations .list-group .list-group-item a {
    padding: 10px;
  }
}


