// thumbnail container
.thumbnail {
  border-radius: 0;
  padding: 0;
  max-width: 85px;
  margin-bottom: 3px;
  margin-top: 7px;
  background-color: transparent;
  border: none;
  float: right;
}

// thumbnail image
.thumbnail img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  max-height: 77px;
  min-width: 60px;
  overflow: hidden;
  text-indent: 100%;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

// thumbnail placeholder icons
.thumbnail span {
  display: block;
  vertical-align: top;
  padding-right: 10px;
  font-size: 60px;
  line-height: 0px;
  text-align: center;
  color: lightgrey;
}

// centers point icon
.thumbnail .geoblacklight-point {
  margin-top: 10px;
}

// hides icon placeholder when thumbnail image is loaded
.thumbnail {
  img[src]+span{
    display: none;
  }
}

.media {
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
}

.blacklight-polygon, .blacklight-line, .blacklight-point {
  thumbnail img {
    -webkit-filter: grayscale(80%); filter: grayscale(80%);
    opacity: 0.8;
  }
}

[data-aload] { background-image: none !important; }

.more-info-area {
  width: 90px;
  float: right;
}
