.twitter-typeahead {
  float: left;
  z-index: 1001;

  width: 100%;

  .tt-input.form-control {
    width: 100%;
  }

  .tt-hint.form-control {
    width: 100%;
  }

  .tt-menu {
    @extend  .dropdown-menu;

    width: 100%;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

    .tt-suggestion {
      padding-left: 10px;

      font-size: 14px;
    }

    .tt-cursor {
      background-color: grey;

      color: white;
      text-decoration: none;
    }
  }
}