// Pulmap modules, pul style, variables/mixins
/*
 *= require  'blacklight_range_limit'

 *= require 'blacklight_advanced_search'

 *= require chosen

*/

// Import font first
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@import 'font-awesome';
@import 'bourbon';
@import 'neat';
@import 'blacklight';
@import 'geoblacklight';
@import 'pulmap';

.beta {
	display: none;
}

.mask {
	background: #c2e59c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgba(100,179,244, 0.5), rgba(194,229,156, 0.5));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgba(100,179,244, 0.5), rgba(194,229,156, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: calc(100vh - 30px);
  position: absolute;
  width: 100%;
  z-index: 9999;
}
