// Pulmap modules, pul style, variables/mixins
/*
 *= require  'blacklight_range_limit'

 *= require 'blacklight_advanced_search'

 *= require chosen

*/

// Import font first
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@import 'font-awesome';
@import 'bourbon';
@import 'neat';
@import 'blacklight';
@import 'geoblacklight';
@import 'pulmap';
@import 'leaflet-geocoder-mapzen';


.beta {
	display: none;
}

.home-secondary-navbar .container {
  height: 60px;
}

.home-secondary-navbar.navbar {
  border: solid 1px #ddd;
  box-shadow: none;
}

.leaflet-pelias-control {
  height: 38px;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: 0;
  border-left-width: 0px;
  width: 100% !important;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
}

.home-search .search_q.form-control,
.home-search .search_loc,
.home-search .search-btn {
  height: 40px;
}

.find_loc_class {
  width: inherit;
}

.find_loc_input_group {
  width: 100%;
}

.find_loc_col {
  padding-left: 0px;
  padding-right: 0px;	
}

.submit-search-text {
  position: static !important;
  padding-left: 5px !important;
}

.home-search .search-btn {
  width: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0px;
}

.search_q_col {
  padding-right: 0px;
}

.search_q {
  padding-right: 0px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.search_button_col {
  padding-left: 0px;
}

// Set location input color on home page
input.search_loc::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(204, 204, 204);
}
input.search_loc::-moz-placeholder { /* Firefox 19+ */
  color: rgb(204, 204, 204);
}
input.search_loc::-ms-input-placeholder { /* IE 10+ */
  color: rgb(204, 204, 204);
}
input.search_loc:-moz-placeholder { /* Firefox 18- */
  color: rgb(204, 204, 204);
}

// Set location input color on home page
input.search_q::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(204, 204, 204);
}
input.search_q::-moz-placeholder { /* Firefox 19+ */
  color: rgb(204, 204, 204);
}
input.search_q::-ms-input-placeholder { /* IE 10+ */
  color: rgb(204, 204, 204);
}
input.search_q:-moz-placeholder { /* Firefox 18- */
  color: rgb(204, 204, 204);
}

.affix {
  top: 0;
  z-index: 9999 !important;
  position: sticky;
}

.map-container {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
  border: solid 1px #ddd;
}

.logo__app {
  font-family: princeton_monticello,Georgia,sans-serif;
  color: #896144;
  font-weight: bold;
  font-size: 28px;
  font-weight: bolder;
}

#sortAndPerPage {
  margin-top: 20px;
}

.top-panel-heading {
  padding-top: 0px;
}

.content {
  margin-top: 10px;
}

.documentHeader.row {
    padding-bottom: 5px;
    padding-top: 0px;
}
