body {
    background: $light-gray;
    font-family: $font-sans;
}

header {
    background: $white;
}



main {
    padding: 0 0 0;
}

.pulmap-brand {
    height: 100%;
}

.navbar + .navbar {
    margin-top: 0;
}

.no-results {
    margin-top: 0;
    margin-bottom: 3em;
}

li.bullet:hover {
    cursor: pointer;
    .bullet-icon {
        background: $black;
    }
}
#content {
    padding-right: 0;
}

//constraints.scss
.constraints-container {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 0.35em;
    margin-top: 1em;
    padding: 2px 0 2px 15px;
}
