body {
    font-family: $font-sans;
}

footer {
    background: $light-gray;
}

main {
    padding: 0 0 0;
}

.wrapper {
  background: $white;
  margin-bottom: -75px; // equal to footer height
  min-height: 100%;
}

.wrapper-index {
  background: $white;
  margin-bottom: 0; // no footer
  min-height: 100%;
}

.pulmap-brand {
    height: 100%;
}

.navbar + .navbar {
    margin-top: 0;
}

.no-results {
    margin-top: 0;
    margin-bottom: 3em;
}

li.bullet:hover {
    cursor: pointer;
    .bullet-icon {
        background: $black;
    }
}

//constraints.scss
.constraints-container {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #fff;
  box-shadow: none;
  .appliedFilter {
    .filterName.filterBlank:after {
      content: none;
    }
  }

  fieldset {
    padding: 10px 10px 20px 10px;
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    min-width: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

    legend {
      padding: 10px;
      width: auto;
      text-transform: uppercase;
      font-size: 14px;
      border: 0;
      margin: 0;
      background-color: #fff;
      border-radius: 4px;
      line-height: .5;
      letter-spacing: 0.1em;
      border: 1px solid #e3e3e3;
    }

  }
}
