html {
    font-size:  0.875rem;
}

body {
    font-family: $font-sans;
}

footer {
    background: $light-gray;
}

main {
    padding: 0 0 0;
}

.wrapper {
  background: $white;
  margin-bottom: -75px; // equal to footer height
  min-height: 100%;
}

.wrapper-index {
  background: $white;
  margin-bottom: 0; // no footer
  min-height: 100%;
}

.navbar + .navbar {
    margin-top: 0;
}

.no-results {
    margin-top: 0;
    margin-bottom: 3em;
}

li.bullet:hover {
    cursor: pointer;
    .bullet-icon {
        background: $black;
    }
}
